# DineMate AI Client environment variables
# Use a full backend URL for remote deployments, or leave relative for same-host setups.
VITE_API_BASE_URL=/api/v1
NVIDIA_API_KEY= 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
